<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
     
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="icon" href="./images/icon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Local styling -->
    <link rel="stylesheet" type="text/css" href="./css/signup.css"/>
    <link rel="stylesheet" type="text/css" href="./css/signin.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />


    <title>RecruitHound | Create a Profile</title>
</head>
 
<body id="signupbody">

<header>   <!--  Nav bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="/"><img id="logo-header"src="./images/Logo-top-left.gif" alt="recruit hound logo">Recruit<span style="color: rgb(253, 130, 85)">Hound</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                    <a class="main-menu-links" href="#" data-toggle="modal" data-target="#myModal" id="showContactModal">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<section class="profile-container">
<div class="profile-content">
    <div class="thumbnail" >
        <img id="logo-signin"src="./images/Logo-top-left.gif" alt="recruit hound logo">
    </div>
    
    <div class="profile-form">
        <form id="usersignup" name="signup" method="post" action="signup">
            <h2>CREATE A PROFILE</h2>
            {{#if statusMessage}}
                <h5 class="statusmessage">Error: {{statusMessage}}</h5>
            {{/if}}
                <h5 class="statusmessage"></h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="newemail" placeholder="Email" name="newemail" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="password" class="form-control" id="newpassword" placeholder="Password" name="newpassword" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="newfirstname" placeholder="Jane" name="newfirstname" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="newlastname" placeholder="Smith" name="newlastname" required>
                </div>
            </div>
            <div class="form-group">    
                <input type="text" class="form-control" id="newaddress1" placeholder="1234 Main St" name="newaddress1" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="newaddress2" placeholder="Apartment, studio, or floor" name="newaddress2">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="newcity" name="newcity" placeholder="City" required>
                </div>
                <div class="form-group col-md-4">
                    <select id="newstate" class="form-control" name="newstate" required>
                        <option selected disabled>Choose...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="newzip" name="newzip" placeholder="Zip" required>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="newresume" name="newresume">
                    <label class="custom-file-label" for="newresume">Upload Resume</label>
                </div>
                <div class="form-group" id="skills-container">
                    <label id="technologiesWorkWith" for="skills-block">What technologies do you work with?</label>
                    <div class="btn-group-toggle" data-toggle="buttons" id="skills-block">
                        <!-- Begin list of skills -->
                    </div>
                </div>
            </div>
            <div class="form-row" id="submit-btn-container">
                <input type="hidden" id="skill" name="skill" value="">
                <input type="submit" class="btn btn-primary submitprofile" value="Create My Profile">
            </div>
            <p style="text-align: center; padding-top: 15px"><a href="/signin">Already a User? Sign In.</a></p>
        </form>
    </div>
</div>
</section>

<!-- Begin contact us modal -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contact Us</h5> <h5 id="contactus-success" style="display: none;">&nbsp;&nbsp;Message sent!</h5> <h5 id="contactus-error" style="display: none;">&nbsp;&nbsp;Error! Message not sent!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" id="jobseekercontact">
                Job Seeker
                </button>
                <button type="button" class="btn btn-secondary" id="recruitercontact">
                Recruiter
                </button>
                <form id="jobseekerform" style="display: none;">
                    <div class="form-group col-xs-12">
                        <label for="contactus-name">Name</label>
                        <input type="text" class="form-control" id="contactus-name" placeholder="Jane Doe">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="contactus-email">Email</label>
                        <input type="email" class="form-control" id="contactus-email" placeholder="janedoe@techworkers.com">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="contactus-phone">Phone</label>
                        <input type="text" class="form-control" id="contactus-phone" placeholder="123-456-7890">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="contactus-message">Message</label>
                        <textarea class="form-control" id="contactus-message" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary submitjobseeker">Submit</button>
                </form>
                
                <form id="recruiterform" style="display: none;">
                    <div class="form-group col-xs-12">
                        <label for="recruiter-name">Name</label>
                        <input type="text" class="form-control" id="recruiter-name" placeholder="Jane Doe">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="recruiter-company">Recruiter Agency</label>
                        <input type="text" class="form-control" id="recruiter-company" placeholder="TechWorkers Recruiting Agency">
                    </div>

                    <div class="form-group col-xs-12">
                    <label for="recruiter-email">Email</label>
                        <input type="email" class="form-control" id="recruiter-email" placeholder="janedoe@techworkers.com">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="recruiter-phone">Phone</label>
                        <input type="text" class="form-control" id="recruiter-phone" placeholder="123-456-7890">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="recruiter-message">Message</label>
                        <textarea class="form-control" id="recruiter-message" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary submitrecruiter">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- End contact us modal -->

    
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Local scripting -->
<script src="./js/signup.js" /></script>
<script src="./js/contact.js" /></script>
</body>
 
</html>