body {
  background-color: #f9f9f9;
}

/*Header styling*/
#agency-search {
    margin-top: 200px;
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}
/*Header*/
#editheader {
    color: #35B729;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.img-thumbnail {
    border: 1px solid rgb(253,130,85);
    background-color: #f9f9f9;
    padding: 5px;
}

/*Personal Info Style*/
#portfolio_info {
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
} 

.form-control {
    background-color: #f2f2f2;
    border-radius: 0px;
    border: 0px;
    font-size: 12px;
}

#newstate {
    height: auto;
}
/*End Personal Input fields*/

/*This is for the Upload resume*/
.custom-file {
    margin-bottom: 1rem;
}
.custom-file-input {
    height: auto;
    border: 0px;
    border-radius: 0px;
    background-color: #f2f2f2;
    color: #495057;
    font-size: 12px;
    width: 100%;
    padding-bottom: 0px;
}

.custom-file-label {
    border: 0px;
    border-radius: 0px;
    background-color: #f2f2f2;
    color: #495057;
    font-size: 12px;
    width: 100%;
    padding-bottom: 0px;
}
/*End Upload resume*/



/*Skill button CSS*/
#skills-container {
    text-align: center;
    width: 100%;
    color: #35B729;
    font-size: 18px;
    margin: 15px 0px 15px 0px;
}

.skillbutton {
    color: #333;
    background-color: #f2f2f2;
    border: 0;
    border-radius: 0;
    font-size: 12px;
}

.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
    background-color: orangered; 
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
    color: #fff;
    background-color: rgb(253, 130, 85);
    border-color: rgb(253, 130, 85);
}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(253,130,85);
}
/*End Skill Button CSS*/

/*Submit Button*/
.saveprofile {
    width: 100%;
    background-color: rgb(253, 130, 85);
    border: 0px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: auto;
}

.saveprofile:hover {
    background-color: orangered
}

.focus {
    box-shadow: none!important;
}

/*Agency Div*/
#agency_info {
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    
}

/*Agency Locate*/
.agency-locate {
    width: 100%;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
}

#search-input {
    background-color: #f2f2f2;
    border-radius: 0px;
    border: 0px;
    font-size: 12px;
    width: 75%;
    margin: none;
}

#search-button {
    width: 20%;
    margin: auto;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

#search-button:focus {
    box-shadow: 0 0 0 0.2rem rgb(253,130,85);
}

#search-button:hover {
    background-color: orangered
}

/*CSS for Accordion Widget*/
.recruiter-return-info {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
}

#accordion-header {
    color: #35B729;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    width:100%;
}

.card {
    border: 1px solid rgb(253, 130, 85);
}

.card button {
    height: auto;
    border: 0px;
    border-radius: 0px;
    background-color: #f2f2f2;
    color: #495057;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}

.card button:hover {
    background-color: #f2f2f2;
}

